<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- properties -->
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/ERS</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">746233077</property>
        
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.show_sql">false</property>
		<!-- <property name="hibernate.default_schema"></property> -->
		<property name="hibernate.hbm2ddl.auto">validate</property>
		
		<mapping class="com.revature.models.Reimbursement"></mapping>
		<mapping class="com.revature.models.ReimbursementStatus"></mapping>
		<mapping class="com.revature.models.ReimbursementType"></mapping>
		<mapping class="com.revature.models.User"></mapping>
		<mapping class="com.revature.models.UserRole"></mapping>

    </session-factory>

</hibernate-configuration>